/***** BASE STYLES *****/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

/***** GRID *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
  margin: 0px;
}

.third-width {
  width: 400px;
  float: left;
  margin: 0px;
}

/***** HEADER *****/

header {
  height: 600px;
  background: url('../img/hero-image.png') no-repeat;
  background-size: cover;
}

header h1 {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 60px;
  color: #3A506B;
  text-align: center;
  line-height: 300px;
  margin: 0 auto;
}

header h2 {
  font-size: 48px;
  font-weight: normal;
  color: #87BBA2;
  text-align: center;
  margin-top: 100px;
}

/***** WORK *****/

#work {
  height: 1450px;
}

#work h3 {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #3A506B;
  margin: 0;
  padding: 50px;
}

#work h4 {
  font-family: 'Roboto';
  font-size: 24px;
  color: #3A506B;
}

.project-screenshot {
  height: 400px;
  padding: 20px;
}

.project-sample {
  height: 400px;
  padding: 20px;
}

/***** ABOUT *****/

#about {
  height: 650px;
  background: #3A506B;
}

#about h3 {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  margin: 0px;
  padding: 50px;
}

#about h4 {
  color: #ffffff;
  font-weight: bold;
}

#about p {
  color: #ffffff;
}

.about {
  padding: 20px;
}

/***** FOOTER *****/

footer {
  height: 450px;
  background: #87BBA2;
}

footer h3 {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #3A506B;
  margin: 0px;
  padding: 50px;
}

footer h4 {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

footer p {
  color: #ffffff;
  text-align: center;
}

footer img {
  margin-left: 50px;
}

footer a {
  text-decoration: none;
}
